@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ABC Primay school</h1>
    
     <a asp-action="Index" asp-controller="Students" class="mt-5 nounderline d-flex flex-column justify-content-around"><span class="material-icons" style="font-size:100px">school</span><p class="mt-4">View Students</p></i></a>

    
</div>
